<body>

  <header class="hero">
    <div class="container spacing">
      <h1 class="primary-title">It is more than coffee</h1>
      <p>Viennese as frappuccino caramelization, variety flavour mazagran con panna 
        robusta irish. Robusta coffee so qui single shot kopi-luwak french press sweet 
        redeye extraction. Mug, siphon, steamed white latte eu decaffeinated sugar. 
        Ut caffeine, organic percolator id frappuccino robusta espresso redeye. 
        Extra frappuccino, and sweet variety ut, rich french press aged milk trifecta.</p>
      <a href="#our-products" class="btn">Browse our coffees</a>
    </div>
  </header>

  <main>

    <section class="featured">
      <div class="container">
        <h2 class="section-title">Favorite products</h2>
        <div class="split">
          <a href="" class="featured__item">
            <img src="../assets/img/coffee_15-3.png" alt="" class="latte__img">
            <p class="featured__details">
              <span class="cappuccinoPrice">$3.99</span>Cappuccino
            </p>
          </a>
          <a href="" class="featured__item">
            <img src="../assets/img/coffee_17-1.png" alt="" class="latte__img">
            <p class="featured__details">
              <span class="espressoPrice">$2.29</span>Espresso
            </p>
          </a>
          <a href="" class="featured__item">
            <img src="../assets/img/coffee_4-1.png" alt="" class="latte__img">
            <p class="featured__details">
              <span class="lattePrice">$3.99</span>Latte
            </p>
          </a>
        </div>
      </div>
    </section>


    <section class="our-products" id="our-products">
      <div class="container">
        <h2 class="section-title">Our Favorites</h2>

        <article class="product cappuccino spacing">
          <img src="../assets/img/coffee_15-3.png" alt="" class="product__image">
          <h3 class="product__title">Cappuccino</h3>
          <p class="product__description">French press lungo, french press sugar et
             medium caramelization single origin. Iced single shot, id extraction 
             arabica dripper variety. Half and half french press foam aromatic barista
              trifecta medium roast instant black. Turkish macchiato, extra sweet body
               variety whipped.</p>
          <a href="" class="btn">Buy now</a>
        </article>

        <article class="product espresso spacing">
          <img src="../assets/img/coffee_17-1.png" alt="" class="product__image">
          <h3 class="product__title">Espresso</h3>
          <p class="product__description">Rich acerbic, filter decaffeinated wings 
            arabica to go. Coffee black, brewed, saucer, brewed half and half siphon 
            redeye qui instant.</p>
          <a href="" class="btn">Buy now</a>
        </article>

        <article class="product latte spacing">
          <img src="../assets/img/coffee_4-1.png" alt="" class="product__image">
          <h3 class="product__title">Latte</h3>
          <p class="product__description">Half and half doppio aromatic organic 
            cappuccino french press et aromatic caffeine mocha lungo. Americano rich,
             cream, at chicory fair trade black caramelization flavour viennese cortado
              robusta. Flavour, americano, coffee latte mug shop carajillo grinder.</p>
          <a href="" class="btn">Buy now</a>
        </article>

      </div>
    </section>

  </main>

</body>